@page
@model asp_presentaciones.Pages.Ventanas.InicioModel
@{
    ViewData["Title"] = "Inicio";
}


<div class="text-center">
    <h1 class="display-4">Bienvenido, @HttpContext.Session.GetString("NombreUsuario")</h1>

    <form method="post">
        <button asp-page-handler="BtClose" class="btn btn-danger">Cerrar sesión</button>
    </form>

    <div class="carrusel-container">
        <span id="img1" class="carrusel-anchor"></span>
        <span id="img2" class="carrusel-anchor"></span>
        <span id="img3" class="carrusel-anchor"></span>

        <div class="carrusel-slide">
            <div class="carrusel-item">
                <img src="/Imagenes/paradise.jpg" alt="Imagen 1" />
            </div>
            <div class="carrusel-item">
                <img src="/Imagenes/Discos2.jpg" alt="Imagen 2" />
            </div>
            <div class="carrusel-item">
                <img src="/Imagenes/vinilo.png" alt="Imagen 3" />
            </div>
        </div>

        <div class="carrusel-nav">
            <a href="#img1">1</a>
            <a href="#img2">2</a>
            <a href="#img3">3</a>
        </div>
    </div>
    
    <h2 style="margin-left: 40px; margin-top: 20px;">Catálogo</h2>
    <div class="catalogo">
        @foreach (var disco in Model.Lista!)
        {
            <div class="producto">
                <a href="/Ventanas/Discos">
                    <img src="/Imagenes/@disco.Imagen" alt="Portada del disco" />
                </a>
                <p><strong>@disco.NombreDisco</strong></p>
                <p>$100</p>
                <p style="color: green;">● Disponible</p>
                <a class="btn btn-primary boton-carrito"
                   asp-page="/Ventanas/Carrito"
                   asp-route-disco="@disco.NombreDisco">
                    Añadir al carrito
                </a>
            </div>
        }

    </div>
</div>

