@page
@model IndexModel
@{
    ViewData["Title"] = "";
}
<style>
    body {
        background-image: url('/Imagenes/rojo.jpg');
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center; 
        align-items: center; 
        margin: 0;
        padding: 0;
        color: white; 
        height: 1100px;
    }

  
</style>

@if (!Model.EstaLogueado)
{
    <div class="container login-box" style="width:60%">
        <h3>Login</h3>
        <form method="post">
            <div class="form-group">
                <label>Usuario:</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label>Contraseña:</label>
                <input type="password" asp-for="Contrasena" class="form-control" />
            </div>
            <button asp-page-handler="BtClean" class="btn btn-secondary">Limpiar</button>
            <button asp-page-handler="BtEnter" class="btn btn-primary">Entrar</button>
        </form>

        <a class="btn btn-secondary" asp-page="/Ventanas/Registrar">Registrarse</a>

        @if (ViewData["Error"] != null)
        {
            <div class="text-danger mt-2">@ViewData["Error"]</div>
        }
    </div>
}

