@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

@if (!Model.EstaLogueado)
{
    <div class="container" style="width:60%">
        <h3>Login</h3>
        <form method="post">
            <div class="form-group">
                <label>Usuario:</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label>Contraseña:</label>
                <input type="password" asp-for="Contrasena" class="form-control" />
            </div>
            <button asp-page-handler="BtClean" class="btn btn-secondary">Limpiar</button>
            <button asp-page-handler="BtEnter" class="btn btn-primary">Entrar</button>
        </form>
        @if (ViewData["Error"] != null)
        {
            <div class="text-danger mt-2">@ViewData["Error"]</div>
        }
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Bienvenido, @HttpContext.Session.GetString("NombreUsuario")</h1>
        <form method="post">
            <button asp-page-handler="BtClose" class="btn btn-danger">Cerrar sesión</button>
        </form>
        <h2 style="margin-left: 40px; margin-top: 20px;">Catálogo</h2>
        <div class="catalogo">
            <div class="producto">
                <img src="/Imagenes/8ddd1959a2bef460a5149b3e0cf5e18a.webp" alt="Portada del disco" />
                <p><strong>I Wonder</strong></p>
                <p>$100</p>
                <p style="color: green;">● Disponible</p>
                <button class="boton-carrito">Añadir al carrito</button>
            </div>
            <div class="producto">
                <img src="/Imagenes/Frank-Sinatra-My-Way-768x768.jpg" alt="Portada del disco">
                <p><strong>My Way</strong></p>
                <p>$100</p>
                <p style="color: green;">● Disponible</p>
                <button class="boton-carrito">Añadir al carrito</button>
            </div>
        </div>

    </div>
}
