@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

@if (!Model.EstaLogueado)
{
    <div class="container login-box" style="width:60%">
        <h3>Login</h3>
        <form method="post">
            <div class="form-group">
                <label>Usuario:</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label>Contraseña:</label>
                <input type="password" asp-for="Contrasena" class="form-control" />
            </div>
            <button asp-page-handler="BtClean" class="btn btn-secondary">Limpiar</button>
            <button asp-page-handler="BtEnter" class="btn btn-primary">Entrar</button>
        </form>

        <a class="btn btn-secondary" asp-page="/Ventanas/Registrar">Registrarse</a>

        @if (ViewData["Error"] != null)
        {
            <div class="text-danger mt-2">@ViewData["Error"]</div>
        }
    </div>
}
else
{


    <div class="text-center">
        <h1 class="display-4">Bienvenido, @HttpContext.Session.GetString("NombreUsuario")</h1>
        <form method="post">
            <button asp-page-handler="BtClose" class="btn btn-danger">Cerrar sesión</button>
        </form>
        <div class="carrusel-container">
   
            <span id="img1" class="carrusel-anchor"></span>
            <span id="img2" class="carrusel-anchor"></span>
            <span id="img3" class="carrusel-anchor"></span>

           
            <div class="carrusel-slide">
                <div class="carrusel-item">
                    <img src="/Imagenes/paradise.jpg" alt="Imagen 1" />
                </div>
                <div class="carrusel-item">
                    <img src="/Imagenes/Discos2.jpg" alt="Imagen 2" />
                </div>
                <div class="carrusel-item">
                    <img src="/Imagenes/vinilo.png" alt="Imagen 3" />
                </div>
            </div>

           
            <div class="carrusel-nav">
                <a href="#img1">1</a>
                <a href="#img2">2</a>
                <a href="#img3">3</a>
            </div>
        </div>
        
        <h2 style="margin-left: 40px; margin-top: 20px;">Catálogo</h2>
        <div class="catalogo">
            <div class="producto">
                <a href="/Ventanas/Discos">
                    <img src="/Imagenes/8ddd1959a2bef460a5149b3e0cf5e18a.webp" alt="Portada del disco" />
                </a>
                <p><strong>I Wonder</strong></p>
                <p>$100</p>
                <p style="color: green;">● Disponible</p>
                <button class="boton-carrito">Añadir al carrito</button>
            </div>
            <div class="producto">
                <a href="/Ventanas/Discos">
                <img src="/Imagenes/Frank-Sinatra-My-Way-768x768.jpg" alt="Portada del disco" />
    </a>
                <p><strong>My Way</strong></p>
                <p>$100</p>
                <p style="color: green;">● Disponible</p>
                <button class="boton-carrito">Añadir al carrito</button>
            </div>

            <div class="producto">
                <a href="/Ventanas/Discos">
                    <img src="/Imagenes/the doors.jpg" alt="Portada del disco" />
                </a>
                <p><strong>Love Street</strong></p>
                <p>$100</p>
                <p style="color: green;">● Disponible</p>
                <button class="boton-carrito">Añadir al carrito</button>
            </div>
        </div>

    </div>
}
