@{
    var rol = Context.Session.GetString("Rol");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - asp_presentacion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/asp_presentacion.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img src="~/imagenes/logo.png" alt="Logo" style="height: 30px; margin-right: 10px;" />
                <a class="navbar-brand" asp-area="" asp-page="/Index" style="color: white; font-family: Times New Roman, serif;">Beat and Track</a>
                

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!string.IsNullOrEmpty(Context.Session.GetString("Rol")))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-page="/Logout">Cerrar sesión</a>
                            </li>
                        }

                        @if (rol == "Administrador")
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="adminMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Entidades
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="adminMenu">
                                    <li><a class="dropdown-item" asp-page="/Index">Home</a></li>
                                    <li><a class="dropdown-item" asp-page="/Privacy">Privacy</a></li>
                                    <li><a class="dropdown-item" asp-page="/Ventanas/Discos">Discos</a></li>
                                    <li><a class="dropdown-item" asp-page="/Ventanas/Clientes">Clientes</a></li>
                                    <li><a class="dropdown-item" asp-page="/Ventanas/Artistas">Artistas</a></li>
                                    <li><a class="dropdown-item" asp-page="/Ventanas/Ordenes">Ordenes</a></li>
                                    <li><a class="dropdown-item" asp-page="/Ventanas/Pagos">Pagos</a></li>
                                    <li><a class="dropdown-item" asp-page="/Ventanas/OrdenesDiscos">OrdenesDiscos</a></li>
                                    <li><a class="dropdown-item" asp-page="/Ventanas/Marcas">Marcas</a></li>
                                    <li><a class="dropdown-item" asp-page="/Ventanas/Formatos">Formatos</a></li>
                                    <li><a class="dropdown-item" asp-page="/Ventanas/Roles">Roles</a></li>
                                    <li><a class="dropdown-item" asp-page="/Ventanas/Usuarios">Usuarios</a></li>
                                    <li><a class="dropdown-item" asp-page="/Ventanas/Auditorias">Auditorias</a></li>
                                    <li><a class="dropdown-item" asp-page="/Ventanas/Permisos">Permisos</a></li>
                                    <li><a class="dropdown-item" asp-page="/Ventanas/RolesPermisos">RolesPermisos</a></li>
                                </ul>
                            </li>
                        }
                        else if (rol == "Cliente")
                        {
                            <li><a class="dropdown-item" asp-page="/Ventanas/Clientes" style="color: white;">Clientes</a></li>
                            
                        }
                        <a href ="/ventanas/carrito"><img src="~/imagenes/carrito.png" alt="Logo" style="height: 30px; margin-right: 10px;" /></a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - asp_presentacion - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
